.name {
    padding-left: 7px;
    font-size: X-large;
    margin: 10px 5px;
}

.photo {
    margin: 5px 10px;
}

.fun-fact {
    font-style: italic;
}

.list {
    padding: 2px;
    list-style: none;
}

.first-border {
    padding: 2px;
    border: 2px solid #e8e8e8;
    width: 320px;
    box-shadow: 5px 5px 0px #e8e8e8;
}

.second-border {
    border: 2px solid #e8e8e8;
    margin: 10px 10px;
    padding: 10px;
}